fastapi>=0.100.0
uvicorn>=0.23.0
websockets>=11.0.3
funasr>=1.0.0
qwen-asr
modelscope>=1.9.0
httpx>=0.25.0
loguru>=0.7.0
python-dotenv>=1.0.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
numpy>=1.20.0
torchaudio>=2.0.0
torch>=2.0.0
python-multipart>=0.0.6
addict
datasets
oss2
scipy
soundfile
librosa
jieba
sentencepiece
kaldi-native-fbank
pyyaml
simplejson
sortedcontainers
hdbscan
umap-learn
scikit-learn
kaldiio
matplotlib
pydub
pymilvus>=2.4.0
